* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

/**  NAV  -------------------------------------------------------------------------------------**/
.navbar {
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 25px;
font-weight: bold;
color: #c76f26;
}

.nav-logo-home {
  height: 35px;
  width: 54px;
}

.nav-logo-inicio-pata{
  height: 35px;
  width: 35px;
  margin-right: 10px;
}

.nav-logo-inicio{
  margin-top: 10px;
}



/**  FOOTER  -------------------------------------------------------------------------------------**/
.texto-footer-snapDog{
  text-align: justify;
  margin-top: 10px;
}

footer button{
  color: white;
  background-color: #E2942D;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

/*para que se vea el cursor como clickable cuando se pasa por encima del botón*/
  cursor: pointer;
  flex-direction: row;
  font-size: 27px;
  border-radius: 50px;
  border: solid #316fe3;
}

footer button:hover {
  background-color: #CE7A33;
}

footer ul li a:hover{
  color: rgb(0, 0, 0);
}

/*redes sociles situadas en el footer*/
#redes{
  background-color: #64bcece3;
  padding: 2px;
 
}

/**  LOGGIN  -------------------------------------------------------------------------------------**/

.contenedor-formulario{
  display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: stretch;
	align-content: center;
  padding-top: 300px;
 
}

.contenedor-formulario .contenedor-imagen{
  display: grid;
  justify-content: center;
  margin-bottom: 20px;
}

.contenedor-formulario .formulario{
  width: 400px;
  height: auto;
 
}

.contenedor-formulario .formulario .contendor-boton{
  display: grid;
  justify-content: center;
}

.contenedor-formulario .formulario .contendor-boton button{
  color: white;
  background-color: #E2942D;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.contenedor-formulario .formulario .contendor-boton button:hover {
  background-color: #CE7A33;
}



/**  REGISTER  -------------------------------------------------------------------------------------**/

.registro{
  max-width: auto;
}
.contenedor-formulario-registro{
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
	align-content: center;
  padding-top: 300px;

}

.formulario-registro{
  max-width: 800px;
}


.registro .contenedor-formulario-registro .formulario-registro  button{
  color: white;
  background-color: #E2942D;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.registro .contenedor-formulario-registro .formulario-registro button:hover {
  background-color: #CE7A33;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] { -moz-appearance:textfield; }

/**  CONTACTO  -------------------------------------------------------------------------------------**/
.contacto{
  max-width: auto;
}
.contenedor-formulario-contacto{
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
	align-content: center;
  padding-top: 300px;

}

.formulario-contacto{
  max-width: 800px;
}


.contacto .contenedor-formulario-contacto .formulario-contacto button{
  color: rgb(255, 255, 255);
  background-color: #E2942D;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
/*para que se vea el cursor como clickable cuando se pasa por encima del botón*/
cursor: pointer;
flex-direction: row;
font-size: 27px;
border-radius: 50px;
border: solid #316fe3;
}

.contacto .contenedor-formulario-contacto .formulario-contacto button:hover {
  background-color: #CE7A33;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] { -moz-appearance:textfield; }


/** FORMULARIO TRABAJA CON NOSOTROS -------------------------------------------------**/

.contenedor-formulario-trabaja{
  color: #36A0FF;
  font-size: 27px;
  padding: 10px;
}

.bigicon {
  font-size: 35px;
  color: #36A0FF;
}
/**  SPINNER  -------------------------------------------------------------------------------------**/
.spinner {
  border: 5px solid rgba(0, 0, 0, 0.3);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #E2942D;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}



/**  HOME   -------------------------------------------------------------------------------------**/

.bannerTopHome {
  background-color: #E2942D;
}

.botonConoceme{
  background-color: #E2942D;
}

/**  PAGINACION   -------------------------------------------------------------------------------------**/

.paginacion {
	width: 100%;
	margin-bottom: 30px;
	overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  gap: 30px;
}

.paginacion .paginacion-derecha a{
  color:#E2942D;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.paginacion .paginacion-izquierda a{
  color:#E2942D;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}




/**  MENU   -------------------------------------------------------------------------------------**/
.imagenMenuPrincipal{
  height: 1000px;
}


/**  BLOG   -------------------------------------------------------------------------------------**/
.blogPrueba{
  color: red;
}

.article {
  margin-bottom: 40px;
}

.article__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.article__content {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.error {
  color: red;
  margin-bottom: 20px;
}