* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

/**  NAV  -------------------------------------------------------------------------------------**/



.nav-logo-home {
  height: 40px;
  width: 40px;
}






/**  FOOTER  -------------------------------------------------------------------------------------**/
.texto-footer-snapDog{
  text-align: justify;
  margin-top: 5px;
}

footer button{
  color: white;
  background-color: #E2942D;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

footer button:hover {
  background-color: #CE7A33;
}



/**  LOGGIN  -------------------------------------------------------------------------------------**/

.contenedor-formulario{
  display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: stretch;
	align-content: center;
  padding-top: 300px;
 
}

.contenedor-formulario .contenedor-imagen{
  display: grid;
  justify-content: center;
  margin-bottom: 20px;
}

.contenedor-formulario .formulario{
  width: 400px;
  height: auto;
 
}

.contenedor-formulario .formulario .contendor-boton{
  display: grid;
  justify-content: center;
}

.contenedor-formulario .formulario .contendor-boton button{
  color: white;
  background-color: #E2942D;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.contenedor-formulario .formulario .contendor-boton button:hover {
  background-color: #CE7A33;
}



/**  REGISTER  -------------------------------------------------------------------------------------**/

.registro{
  max-width: auto;
}
.contenedor-formulario-registro{
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
	align-content: center;
  padding-top: 300px;

}

.formulario-registro{
  max-width: 800px;
}


.registro .contenedor-formulario-registro .formulario-registro button{
  color: white;
  background-color: #E2942D;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.registro .contenedor-formulario-registro .formulario-registro button:hover {
  background-color: #CE7A33;
}



